rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /tokens/{tokenId} {
      allow read, write: if request.auth != null && get(/databases/$(database)/documents/tokens/$(tokenId)).data.user_id == request.auth.uid;
    }
    match /recovery_logs/{logId} {
      allow read, write: if request.auth != null && get(/databases/$(database)/documents/recovery_logs/$(logId)).data.user_id == request.auth.uid;
    }
    match /customers/{customerId} {
      allow read, write: if request.auth != null && get(/databases/$(database)/documents/customers/$(customerId)).data.user_id == request.auth.uid;
    }
  }
}
